[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "abcrf"]
	path = abcrf
	url = https://github.com/jmm34/abcrf
[submodule "bayess"]
	path = bayess
	url = https://github.com/jmm34/bayess
